.divider {
  margin: 1rem 0;
}

.input {
  width: 450px;
  background-color: #1c1e22;
  border: 0 solid rgba(0,0,0,.6);
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 18px;
}

.games {
  margin-top: 1.5rem;
}

.recommendation {
  padding-top: 3rem;
}