@import '~antd/dist/antd.dark.less';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .9375rem;
}

.content {
  padding-top: 55px;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 30px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    padding: 15px 20px;
  }
}